@page "/add-supplier"
@layout MainLayout
@inherits RadzenDb.Pages.AddSupplierComponent

@using Radzen
@using Radzen.Blazor
@using RadzenDb.Models.TpcH
@using Microsoft.AspNetCore.Identity;
@using RadzenDb.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


@inject Microsoft.Extensions.Localization.IStringLocalizer<AddSupplier> L
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@supplier" Visible="@(supplier != null)" TItem="RadzenDb.Models.TpcH.Supplier" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Supp.id Component="s_suppkey" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(supplier.s_suppkey)" Name="S_suppkey">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="S_suppkey" Text=@Supp.id_err style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Nat.name Component="s_nationkey" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDownDataGrid Data="@(getNationsFors_nationkeyResult)" TextProperty="n_name" ValueProperty="n_nationkey" Placeholder="Choose Nation" ShowSearch="false" style="display: block; width: 100%" @bind-Value="@(supplier.s_nationkey)" Name="S_nationkey">
                </RadzenDropDownDataGrid>
                <RadzenRequiredValidator Component="S_nationkey" Text=@Nat.id_err style="position: absolute" DefaultValue="0">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Supp.name Component="s_name" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="25" style="width: 100%" @bind-Value="@(supplier.s_name)" Name="S_name">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Supp.addr Component="s_address" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="40" style="width: 100%" @bind-Value="@(supplier.s_address)" Name="S_address">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Supp.phone Component="s_phone" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="15" style="width: 100%" @bind-Value="@(supplier.s_phone)" Name="S_phone">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Supp.acc Component="s_acctbal" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(supplier.s_acctbal)" Name="S_acctbal">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Supp.comment Component="s_comment" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="101" style="width: 100%" @bind-Value="@(supplier.s_comment)" Name="S_comment">
                </RadzenTextBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text=@Common.save ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text=@Common.cancel Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
