@page "/orders"
@layout MainLayout
@inherits RadzenDb.Pages.OrdersComponent

@using Radzen
@using Radzen.Blazor
@using RadzenDb.Models.TpcH
@using Microsoft.AspNetCore.Identity;
@using RadzenDb.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


@inject Microsoft.Extensions.Localization.IStringLocalizer<Orders> L
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text=@Ord.Title>
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text=@Common.add Click="@Button0Click">
        </RadzenButton>
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getOrdersResult" TItem="RadzenDb.Models.TpcH.Order" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenDataGridColumn TItem="RadzenDb.Models.TpcH.Order" Property="o_orderkey" Title=@Ord.id>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RadzenDb.Models.TpcH.Order" Property="o_custkey" SortProperty="Customer.c_name" GroupProperty="Customer.c_name" FilterProperty="Customer.c_name" Title=@Cust.name>
              <Template Context="data">
              @(data.Customer?.c_name)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RadzenDb.Models.TpcH.Order" Property="o_orderstatus" Title=@Ord.status>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RadzenDb.Models.TpcH.Order" Property="o_totalprice" Title=@Ord.price>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RadzenDb.Models.TpcH.Order" Property="o_orderdate" FormatString="{0:yyyy/MM/dd}" Title=@Ord.date>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RadzenDb.Models.TpcH.Order" Property="o_orderpriority" Title=@Ord.ord_prior>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RadzenDb.Models.TpcH.Order" Property="o_clerk" Title=@Ord.clerk>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RadzenDb.Models.TpcH.Order" Property="o_shippriority" Title=@Ord.trans_prior>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RadzenDb.Models.TpcH.Order" Property="o_comment" Title=@Ord.comment>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RadzenDb.Models.TpcH.Order" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="radzenDbModelsTpcHOrder">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, radzenDbModelsTpcHOrder))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
