@page "/partsupp"
@layout MainLayout
@inherits RadzenDb.Pages.PartsuppComponent

@using Radzen
@using Radzen.Blazor
@using RadzenDb.Models.TpcH
@using Microsoft.AspNetCore.Identity;
@using RadzenDb.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


@inject Microsoft.Extensions.Localization.IStringLocalizer<Partsupp> L
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text=@PS.Title>
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text=@Common.add Click="@Button0Click">
        </RadzenButton>
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getPartsuppsResult" TItem="RadzenDb.Models.TpcH.Partsupp" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenDataGridColumn TItem="RadzenDb.Models.TpcH.Partsupp" Property="ps_partkey" SortProperty="Part.p_name" GroupProperty="Part.p_name" FilterProperty="Part.p_name" Title=@P.name>
              <Template Context="data">
              @(data.Part?.p_name)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RadzenDb.Models.TpcH.Partsupp" Property="ps_suppkey" SortProperty="Supplier.s_name" GroupProperty="Supplier.s_name" FilterProperty="Supplier.s_name" Title=@Supp.name>
              <Template Context="data">
              @(data.Supplier?.s_name)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RadzenDb.Models.TpcH.Partsupp" Property="ps_availqty" Title=@PS.quantity>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RadzenDb.Models.TpcH.Partsupp" Property="ps_supplycost" Title=@PS.price>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RadzenDb.Models.TpcH.Partsupp" Property="ps_comment" Title=@PS.comment>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RadzenDb.Models.TpcH.Partsupp" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="radzenDbModelsTpcHPartsupp">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, radzenDbModelsTpcHPartsupp))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
