@page "/supplier"
@layout MainLayout
@inherits RadzenDb.Pages.SupplierComponent

@using Radzen
@using Radzen.Blazor
@using RadzenDb.Models.TpcH
@using Microsoft.AspNetCore.Identity;
@using RadzenDb.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


@inject Microsoft.Extensions.Localization.IStringLocalizer<Supplier> L
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text=@Supp.Title>
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text=@Common.add Click="@Button0Click">
        </RadzenButton>
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getSuppliersResult" TItem="RadzenDb.Models.TpcH.Supplier" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenDataGridColumn TItem="RadzenDb.Models.TpcH.Supplier" Property="s_suppkey" Title=@Supp.id>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RadzenDb.Models.TpcH.Supplier" Property="s_nationkey" SortProperty="Nation.n_name" GroupProperty="Nation.n_name" FilterProperty="Nation.n_name" Title=@Nat.name>
              <Template Context="data">
              @(data.Nation?.n_name)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RadzenDb.Models.TpcH.Supplier" Property="s_name" Title=@Supp.name>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RadzenDb.Models.TpcH.Supplier" Property="s_address" Title=@Supp.addr>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RadzenDb.Models.TpcH.Supplier" Property="s_phone" Title=@Supp.phone>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RadzenDb.Models.TpcH.Supplier" Property="s_acctbal" Title=@Supp.acc>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RadzenDb.Models.TpcH.Supplier" Property="s_comment" Title=@Supp.comment>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RadzenDb.Models.TpcH.Supplier" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="radzenDbModelsTpcHSupplier">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, radzenDbModelsTpcHSupplier))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
